<div class="printers--grid-wrapper">
  <jqxGrid #printersGrid
    [width]="'100%'"
    [height]="'100%'"
    [source]="printersDataAdapter"
    [columns]="printersColumns"
    [pageable]="false"    
    [altrows]="true"
    [enabletooltips]="true"
    [editable]="true"
    [rowdetails]="true"
    [rowsheight]="35"
    [initrowdetails]="initRowDetails"
    [ready]="readyPrintersGrid"
    [rowdetailstemplate]="rowdetailstemplate" 
    [showstatusbar]="true"
    [renderstatusbar]="createPrintersButtonsContainers"
    [filterable]="true"
    [sortable]="true"
    [columnsresize]="true"
    [autoshowfiltericon]="true"
    [filtermode]="'excel'">
  </jqxGrid>
</div>


<jqxWindow #printersFindDialog
  [width]="210"
  [height]="180"
  [autoOpen]="false"
  [resizable]="false">
  <div>Поиск</div>
  <div style="overflow: hidden">    
    <div style="margin-top: 7px; clear: both">Поле:</div>
    <div style="margin-top: 5px">
      <jqxDropDownList #printersFindDialogDropDownList
        [width]="200"
        [height]="23"
        [selectedIndex]="0" 
        [source]="dropDownSource"
        [autoDropDownHeight]="true">
      </jqxDropDownList>
    </div>
    <div>Значение:</div>
    <div style="margin-top: 5px">
      <jqxInput #printersFindDialogInput
        [width]="194"
        [height]="23">
      </jqxInput>
    </div>
    <div>
    <jqxButton style="margin-top: 15px; margin-left: 50px; float: left"
      (onClick)="findBtnOnClick()"
      [width]="70">
      Поиск
    </jqxButton>
    <jqxButton style="margin-left: 5px; margin-top: 15px; float: left"
      (onClick)="clearBtnOnClick()"      
      [width]="70">
      Очистить
    </jqxButton>
    </div>
  </div>
</jqxWindow>
