* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* overlay */
.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;	
  background-color: rgba(250, 250, 250, .8);
  z-index: 1;
}

.action-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.action-close:hover {
  color: rgba(0, 0, 0, .8);
}

/* container */
.container {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}

.container.box {  
  width: 100%;
  height: 100%;
}

.content {
  margin: 0;
  padding: 0;
}

.test-print-btn {
  background-color: #f44336;
  color: #fff;
  border: none;
  height: 25px;
  margin: 2px;
}

.test-print-btn:hover {
  cursor: pointer;
  background-color: red;
  color: black;
}

/* jqxGrid */

.jqx-fill-state-pressed {
  background: #a4a6e0 !important;
}

.printers--grid-wrapper {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
